
.container-item3 {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.ct-card2{  
    height: 250px;
    width: 170px;
    margin:15px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: background 200ms ease-in, color 200ms ease-in;
    background: white;
}

.ct-card2 :hover {
    transform: scale(1.01);
}

.imgBx2 {
    width: 100%;
    height: 110px;
    text-align: center;
}
.card-image2 {
    max-width: 100%;
    height: inherit;
}

.tltBx2{
    display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.card-title2 {
    font-family: 'Domine', serif;
    font-size: 12px;
}

.card-ref2 {
    font-size: 11px;
}

.btnBx2 {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-around;
    align-items: flex-start;
}
  
.btnBx2 .card-btn2 {
    padding:2px;
    color: #fff;
    background: rgb(255, 0, 170);
    width: 40%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 40px;
    transition: 0.2s;
    font-family: 'Domine', serif;
    font-size: 11px;
    font-weight: 100;
    font-family: 'Domine';
    border: none;
}

.btnBx2 .card-btn-add-sh2 {
    padding:2px;
    color: #fff;
    background: rgb(0, 0, 0);
    width: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 40px;
    transition: 0.2s;
    font-family: 'Domine', serif;
    font-size: 11px;
    font-weight: 100;
    font-family: 'Domine';
    border: none;
}
  
.btnBx2 .card-btn2:hover {
    color: black;
    background:rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
   
}
  
.btnBx2 .card-btn-add-sh2:hover {
    color: black;
    background:rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
}
  
  







/* Deatail Datatable*/

.det-card2 {
    margin:0 20%;
    width: 40%;
    height: 80%;
    position:fixed;
    top:10%;
    background: white;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    z-index: 10;
}

.bx-btn-close-dt-card2{
    display:flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
}

.bx-btn-close-dt-card2 .btn-close-dt-card2{
    width: 40px;
    height: 40px;
    border: none;
    background: white;
    transition: 0.3s;
}
.bx-btn-close-dt-card2 .btn-close-dt-card2:hover{
    color : red;
  }

.container-card-dt2 {
    width: 100%;
    height: 80%;
    padding: 20px;
}

.container-card-dt2 .bx-card-dt2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 2px 0px 2px -2px rgba(0,0,0,0.5), -2px 0px 2px -2px rgba(0,0,0,0.5); 
    box-shadow: 2px 0px 2px -2px rgba(0,0,0,0.5), -2px 0px 2px -2px rgba(0,0,0,0.5);
    padding: 20px;
  
}

.container-card-dt2 .bx-card-dt2 .bx-card-dt-img2 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.5); 
    box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.5);
    position:relative;
    
}

.container-card-dt2 .bx-card-dt2 .bx-card-dt-img2 .card-dt-image2{
    width: 40%;
    height: 100%;
    
}

.container-card-dt2 .bx-card-dt2 .bx-card-dt-info2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding:20px;
    text-align: center;
    position:relative;
}

.container-card-dt2 .bx-card-dt2 .bx-card-dt-info2 .bx-card-desc2 {
    font-family: 'Domine';
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    margin: 1% 0 ;
    font-style: italic;
  
}

.container-card-dt2 .bx-card-dt2 .bx-card-dt-info2 .bx-card-ref2 {
    font-family: 'Domine';
    font-weight: 100;
    font-size: 14px;
    font-style: italic;
    padding: 5px 0;
    margin: 1% 0 ;
}

.container-card-dt2 .bx-card-dt2 .bx-card-dt-info2 .bx-card-pds2 {
    font-family: 'Domine';
    font-weight: 100;
    font-size: 14px;
    padding: 10px 0;
    margin: 1% 0 ;
    font-style: italic;
}
  
.container-card-dt2 .bx-card-dt2 .bx-card-dt-info2 .bx-card-btn-add2 {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container-card-dt2 .bx-card-dt2 .bx-card-dt-info2 .bx-card-btn-add2 button {
    width: 40%;
    height: 50px;
    border: none;
    background: black;
    color:#fff;
    font-family: 'Domine';
    font-weight: 100;
    font-size: 14px;
    cursor: pointer;
    font-style: italic;
    border-radius: 5px;
    transition: 0.3s;
}
  
.container-card-dt2 .bx-card-dt2 .bx-card-dt-info2 .bx-card-btn-add2 button:hover {
    background: white;
    color:black;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);    
}


@media only screen and (max-width: 1000px){

    .container-item3 { 
        justify-content:center;      
    }
   
}


