@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
/*font-family: 'Fleur De Leah', cursive;*/

/*NavTop*/
.nav-top {  
    font-weight: bold;
    height: 50px;
    background: black;
    position: fixed;
    width: 100%;
    z-index:110;
}
.nav-top .container-nav-top {
    margin : 0 15%;
    padding: 5px 0;
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
}

.nav-top .container-nav-top .txt-top {
   
    font-weight: 100;
    font-size: 15px;
    color: white;
    font-style: italic;
    opacity: 0.8;
}

.nav-top .container-nav-top .ct-icons{
  display: flex;
}

.nav-top .container-nav-top .ct-icons .ct-link-ic .link-ic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.nav-top .container-nav-top .ct-icons .ic{
  color: white;
  font-size: 23px;
  margin-left: 20px;
  opacity: 0.8;
  position: relative;
}

.nav-top .container-nav-top .ct-icons .ct-link-ic .link-ic  .ct-ic {
  
  font-size: 15px;
  padding: 10px 18px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  position: absolute;
  bottom:0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.nav-top .container-nav-top .ct-icons .ct-link-ic .link-ic:hover .ct-ic
{
  bottom:-43px;
  opacity: 1;
  pointer-events: auto;
}

.nav-top .container-nav-top .ct-icons .ct-link-ic .link-ic  .ct-ic::before {
  position:absolute;
  content:"";
  height: 15px;
  width: 15px;
  background: white;
  top:-7.5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.nav-top .container-nav-top .ct-icons .ct-link-ic .link-ic:hover .ct-ic {
  text-shadow: 0px -1px 0px rgba(0,0,0,0.14);
  color: black;
 background:white;
}

.nav-top .container-nav-top .ct-icons .ct-link-ic .link-ic .ic:hover{
  opacity: 1;
}

.nav-top .container-nav-top .ct-icons .ct-link-ic .link-ic .ic-diconnect{
  color: red;
  opacity: 0.7;
}

.nav-top .container-nav-top .ct-icons .ct-link-ic .link-ic .ic-diconnect:hover{
  color: red;
}

.toggle-menu.md-1000.ct-icons {
 display:none;
}


/*NavMid*/

.nav-mid {
    height: 300px;
}

.nav-mid .container-nav-mid {
    height: 100%;
    margin : 0 10%;
    padding-top: 50px;
}

.nav-mid .container-nav-mid .ct-nav-mid-logo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.nav-mid .container-nav-mid .ct-nav-mid-logo  {
    text-align: center;
}
.nav-mid .container-nav-mid .ct-nav-mid-logo .logo {
    font-size: 90px; 
    font-family: 'Fleur De Leah', cursive;
    font-style: italic;
    font-weight: 100;
    color: rgb(190, 190, 190);
    text-shadow: 1px 3px 0 #969696, 1px 13px 25px #aba8a8;

}
.nav-mid .container-nav-mid .ct-nav-mid-logo .sous-logo {
    font-size: 50px;
    font-family: 'Fleur De Leah', cursive;
    font-style: italic;
    font-weight: 100;
    color: rgb(190, 190, 190);
    text-shadow: 1px 3px 0 #969696, 1px 13px 25px #aba8a8;
    
}
.nav-mid .container-nav-mid .ct-nav-mid-logo .info-logo {
    font-size: 15px;
    color: rgb(170, 170, 170);
    font-style: italic;
   
}




/*NavBot*/

.nav-bot {
    font-weight: bold;
    height: 50px;
   
}

.nav-bot .container-nav-bot {
    height: 100%;
    margin : 0 10%;
    display:flex;
}


.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: center;
    -webkit-box-shadow: 0px 8px 15px -14px rgba(0,0,0,0.5); 
    box-shadow: 0px 8px 15px -14px rgba(0,0,0,0.5);
    font-weight: bold;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 50px;
}
  
.nav-item .item-title {
    text-decoration: none;
    color:rgb(99, 99, 99);
    margin-right: 2rem;
    font-size: 15px;
    font-family: 'Domine';
}
  
.nav-item a:hover {
    color:#252525;
    
}

.services-submenu {
    position: absolute;
    top: 348px;
    list-style: none;
    text-align: start;
    z-index: 15;
}
  
.services-submenu li {
    background:white;
    cursor: pointer;
    border:solid 1px black;
    margin:1px
    
}
  
.services-submenu li a:hover {
    background: rgb(243, 243, 243);  
}
  
.services-submenu.clicked {
    display: none;
    
}
  
.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    font-family: 'Domine';
    color:rgb(99, 99, 99);
}
  



@media only screen and (max-width: 1000px){


  /*NavTop*/


  .nav-top .container-nav-top {
    margin : 0 5%;  
  }

  .nav-top .container-nav-top .txt-top { 
    display:none;
  }

  ::-webkit-scrollbar{
    width: 0;
  }
   

  /*NavBot*/

 .nav-bot {
   display: none;
 }




  /*navbar toggle*/

  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
  
  }

  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons .nav-menu-toggle{
    background-color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    padding:0 2%;
    -webkit-box-shadow: 2px 0px 1px 0px rgba(0,0,0,0.7); 
    box-shadow: 2px 0px 1px 0px rgba(0,0,0,0.7);

  }

  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons .active-toggle{
    left: 0;
    transition: 350ms;
  }

  
  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons .nav-menu-toggle .nave-menu-items-toggle .navbar-toggle {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
   
  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons .nav-menu-toggle .nave-menu-items-toggle .navbar-toggle .ic-toggle-close{
    color:black;
    font-size: 24px;
    font-weight: bold;
    transition: 0.2s;
  }

  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons .nav-menu-toggle .nave-menu-items-toggle .navbar-toggle .ic-toggle-close:hover{
    color:red;
  }
  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons .nav-menu-toggle .nave-menu-items-toggle .nav-text-toggle {
    margin: 10px 0px;
  }

  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons .nav-menu-toggle .nave-menu-items-toggle .nav-text-toggle ul {
    margin: 5px 25px;
    list-style: none;
  }

  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons .nav-menu-toggle .nave-menu-items-toggle .nav-text-toggle ul li {
    margin: 6px 0px;
  }

  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons .nav-menu-toggle .nave-menu-items-toggle .nav-text-toggle .sidebar-link {
    text-decoration: none;
    color:black;
    font-family: 'Domine';
    font-size: 16px;
    font-weight: 100;
    margin:50px 0 ;
    transition: 0.3s;
  }

  .nav-top .container-nav-top .toggle-menu.md-1000.ct-icons .nav-menu-toggle .nave-menu-items-toggle .nav-text-toggle .sidebar-link:hover {
    color:#3498db;
  }
  
}

@media only screen and (max-width: 550px){
  /*NavMid*/

  .nav-mid {
    height: 260px;
  }

  .nav-mid .container-nav-mid .ct-nav-mid-logo .logo {
    font-size: 60px; 
  }
  .nav-mid .container-nav-mid .ct-nav-mid-logo .sous-logo {
    font-size: 30px;
      
      
  }
  .nav-mid .container-nav-mid .ct-nav-mid-logo .info-logo {
    font-size: 12px; 
  }


}