@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.main {
   margin-top: 20px;
   font-family: 'Domine';
}
.main .container-main {
    margin : 0 10%;
    display:flex;
    justify-content: space-around;
}
.main .container-main .tlt {
   font-size: 25px;
   padding: 5px 20px;
   width: 90%;
   border-bottom : 0.1px solid #3498db48;
   font-style: italic;
   color: #3498db;
}
.main .container-main .main-connect,
.main .container-main .main-register {
    width: 100%;
    height: 100%;  
}
.main .container-main .main-connect .inp,
.main .container-main .main-register .inp {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
} 

.main .container-main .main-register .inp-re-civ{
    display: flex;
    flex-direction: row;
    width: 60%; 
}
.main .container-main .main-register .inp-re-civ .select-civ {
   width: 100%;
   padding-left: 25px;
}
.main .container-main .main-connect .inp-co{
    width: 100%;
    height: 100%;
}


.main .container-main .main-connect .inp-co .inp-tar,
.main .container-main .main-register .inp-re .inp-tar {
    height: 30px;
    width: 60%;
    padding-left: 10px;
    border-radius: 2px;
    border:solid 1px rgba(0, 0, 0, 0.2);
    
}

.main .container-main .main-connect .reset-mdp .link-reset-mdp{
    color:black;
    font-size: 12px;
    font-style: italic;
}

.main .container-main .main-connect .reset-mdp .link-reset-mdp:hover{
    color:#3498db;
}

.main .container-main .main-register .inp-re .input-nom {
    margin-right : 20px;
}

.main .container-main .main-register .form-ctr .ct-auto-line {
    width: 60%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.main .container-main .main-register .form-ctr .ct-auto-line .inp-re-nom .input-nom,
.main .container-main .main-register .form-ctr .ct-auto-line .inp-re-prenom .input-pre {
    width: 100%;
}

.star {
    color :rgb(255, 0, 0)
}

.btn {
    background-color:black;
    color: white;
    font-size: 15px;
    font-family: 'Domine';
    padding: 10px 60px;
    margin: 10px 0px;
    cursor: pointer; 
    transition: 0.3s;  
    border: none; 
    border-radius: 3px;
}

.btn:hover{
   opacity:0.7;
}

.main .container-main .main-register .form-ctr .inp-re-civ .select-civ {
    display:flex;
    flex-direction: row;
}
.main .container-main .main-register .form-ctr .inp-re-civ .select-civ .val-radio{
    margin-right: 15px;
}
.react-tel-input .form-control {
    width: 100%; 
    height: 30px;
}

.main .container-main .main-register .form-ctr .inp-re-pays .input-pays .opt-slt-pays {
    font-size: 15px;
}

.invalide {
    color: red;
    font-family: 'Domine';
}